<%= form_for(vehiculo) do |f| %>
  <% if vehiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

      <ul>
      <% vehiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul class="inline-list">
<div class="row" data-equalizer data-equalizer-mq="large-up">
  <div class="medium-6 columns panel" data-equalizer-watch>
  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>
      </div>
</div>
</ul>

<ul class="inline-list">
<div class="row" data-equalizer data-equalizer-mq="large-up">
  <div class="medium-6 columns panel" data-equalizer-watch>
  <div class="field">
    <%= f.label :llantas %>
    <%= f.text_field :llantas %>
  </div>
 </div>
</div>
</ul>
      
  <section class="row">
<div class="small-4 colums">
  <div class="actions">
    <%= f.submit 'Aceptar',:class => 'button small' %>
  </div>
    </div>

</section>
<% end %>


