<p id="notice"><%= notice %></p>

<h1>Vehiculos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Llantas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= paginate @vehiculos %>
      
    <% @vehiculos.each do |vehiculo| %>
      <tr>
        <td><%= vehiculo.tipo %></td>
        <td><%= vehiculo.llantas %></td>
        <td><%= link_to 'Show', vehiculo %></td>
        <td>
            <%if can? :update,@arma %>
            <%= link_to 'Edit', edit_vehiculo_path(vehiculo) %>
            <%end%>
          </td>
        <td>
            <%if can? :destroy,@arma %>
            <%= link_to 'Destroy', vehiculo, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehiculo', new_vehiculo_path,  { :class => "button"} %>
