

<p>
  <strong>Tipo:</strong>
  <%= @vehiculo.tipo %>
</p>

<p>
  <strong>Llantas:</strong>
  <%= @vehiculo.llantas %>
</p>

<%= link_to 'Edit', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Back', vehiculos_path %>
