<p id="notice"><%= notice %></p>

<h1>Armas</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Calibte</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      
      <%= paginate @armas %>
    <% @armas.each do |arma| %>
      <tr>
        <td><%= arma.tipo %></td>
        <td><%= arma.calibte %></td>
        <td><%= link_to 'Show', arma %></td>
          
          
        <td>
            <%if can? :update,@arma %>
            <%= link_to 'Edit', edit_arma_path(arma) %>
            <%end%>
          
          
          </td>
          
          
        <td>
            <%if can? :destroy,@arma %>
            <%= link_to 'Destroy', arma, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arma', new_arma_path, { :class => "button"} %>
