// Place all the styles related to the armas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pagination{
    
    display: inline-flex
}

.buttono{
    
    
    color: white;
}